export DOCKER_BUILDKIT=1
# These extra commands are required because of
# https://github.com/golang/go/issues/44129
# https://github.com/golang/go/issues/44129#issuecomment-789123471
export GOFLAGS=-mod=mod
